## ----------------------------------ANOVA ANALYSIS - ANALYSIS OF VARIANCE-----------------------

In [11]:
# Importing necessary libraries

import pandas as pd
from scipy.stats import f_oneway

In [12]:
# Preparing dummy data using arrays
    
group1 = [23, 25, 27, 24, 26]
group2 = [20, 22, 19, 21, 18]
group3 = [28, 30, 27, 29, 31]

In [13]:
# Preparing dummy data using pandas dataframe


data = {
    'Scores': [23, 25, 27, 24, 26, 20, 22, 19, 21, 18, 28, 30, 27, 29, 31],
    'Group': ['A']*5 + ['B']*5 + ['C']*5
}
df = pd.DataFrame(data)
df

    Scores Group
0       23     A
1       25     A
2       27     A
3       24     A
4       26     A
5       20     B
6       22     B
7       19     B
8       21     B
9       18     B
10      28     C
11      30     C
12      27     C
13      29     C
14      31     C

## **f_oneway** function

This Function performs the one way anova analysis of group1, group2 and group3

Then it return the p-value and the f-statistic

f-statistic
-----------
A higher f-statistic means the means of different groups are significantly different

A lower f-statistic value means there is little difference in the means of the groups

p-value
----------
p-value < 0.05: Reject the null hypothesis. The group means are significantly different.
p-value â‰¥ 0.05: Fail to reject the null hypothesis. No significant difference between group means.

In [14]:
# Performing one-way anova analysis

f_statistic, p_value = f_oneway(group1, group2, group3)
f_statistic, p_value

(40.66666666666663, 4.517173966629571e-06)

In [15]:
# If your data is in a dataframe

groups = df.groupby('Group')['Scores'].apply(list)
stat, p = f_oneway(*groups)
print(f"F-statistic: {stat:.3f}, p-value: {p:.3f}")

F-statistic: 40.667, p-value: 0.000